/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: rgb(69, 69, 237);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    width: 80%;
    margin: 20px auto;
}

.blog-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.blog-post img {
    min-width: 100% !important;
    border-radius: 8px;
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

a {
    color: #3498db;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
} */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color:#4556ED;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: larger;
}

h1 {
    margin: 0;
}

main {
    width: 80%;
    margin: 20px auto;
}

.blog-post {
    position: relative;
    overflow: hidden;
}

.image-container {
    position: relative;
}

img {
    min-width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(212, 97, 97, 0), rgba(110, 187, 232, 0)); /* Initial state: fully transparent */
    transition:background 0.3s ease; /* Smooth transition effect */
}

.blog-post:hover .overlay {
    background: linear-gradient(rgba(153, 200, 219, 0.7), rgba(0, 0, 0, 0.7)); /* Gradient for overlay on hover */
}

.blog-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    margin: 10px 0;
}

a {
    color: #3498db;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
